__pycache__/
*.pyc
venv/
env/
.DS_Store
*.log
.ipynb_checkpoints

.cursor-server/
Simon_ws/
dataset/
*.ply
*.npz
**/*tfevents*
sonata_ws/dataset/
sonata_ws/sonata-workspace/checkpoints/
sonata_ws/sonata-workspace/logs/
sonata_ws/sonata-workspace/gt_maps_refined/
sonata_ws/sonata-workspace/sonata/
**/sonata_lidiff.egg-info/
sonata_ws/sonata-workspace/.venv_open3d/
sonata_ws/sonata-workspace/evaluation_results_teacher/
sonata_ws/sonata-workspace/evaluation_results_teacher_gt_v2/
sonata_ws/sonata-workspace/evaluation_results_teacher_gt_v2_n20/
sonata_ws/sonata-workspace/evaluation_results_teacher_n20/
